<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
          <div class="error-message">{{ message }}</div>
      {% endfor %}
  {% endif %}
{% endwith %}

    <div class="topnav-container">
        <div>
          <a href="{{ url_for('dashboard') }}" class="logoIN">
            <div class="nomPag">Arpa</div>
          </a>
        </div>
        <div class="topnav">
          <a href="{{ url_for('chat') }}"><i class="fa fa-comment-o"></i></a>
          <a href="{{ url_for('dashboard') }}"><i class="fa fa-bar-chart"></i></a>
        </div>
    </div>
    <div class="input-container">
        <div class="input-box">
            <textarea placeholder="Chatea con Arpa" rows="1" autofocus></textarea>
            <button><i class="fa fa-send"></i></button>
        </div>
    </div>
</body>
</html>