{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleIN.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="topnav-container">
    <div>
        <a href="{{ url_for('dashboard') }}" class="logoIN">
            <div class="nomPag">Dashboard</div>
        </a>
    </div>
    <div class="topnav">
        <a href="{{ url_for('dashboard') }}"><i class="fa fa-bar-chart" style="color: #0b00a2;"></i></a>
        <a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i></a>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <a href="{{ url_for('personas') }}"><i class="fa fa-id-card"><span class="titles">Personas</span></i>368</a>
        </div>
    </div>
    
    <div class="column">
        <div class="card">
            <a href="{{ url_for('auditorias') }}"><i class="fa fa-book"><span class="titles">Auditorías</span></i>50</a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="{{ url_for('informes') }}"><i class="fa fa-file-text-o"><span class="titles">Informes</span></i>12</a>
        </div>
    </div>
    
    <div class="column">
        <div class="card">
            <a href="{{ url_for('alertas') }}"><i class="fa fa-exclamation-circle" style="color: red;"><span class="titles" style="color: red;">Alertas</span></i>15</a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="{{ url_for('upload') }}" style="color: green;"><i class="fa fa-file-o"><span class="titles">Analizar Archivo</span></i><i class="fa fa-upload" style="color: #0b00a2;"></i></a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="{{ url_for('chat') }}"><i class="fa fa-comment-o"><span class="titles">Preguntar Arpa</span></i><i class="fa fa-keyboard-o"></i></a>
        </div>
    </div>
</div>

{% if current_user.is_authenticated %}
    <p>Welcome, {{ current_user.nombre }}!</p>
{% endif %}
{% endblock %}