<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styleIN.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
<body>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="error-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="topnav-container">
        <div>
            <a href="{{ url_for('dashboard') }}" class="logoIN">
                <div class="nomPag">Dashboard</div>
            </a>
        </div>
        <div class="topnav">
            <a href="{{ url_for('dashboard') }}"><i class="fa fa-bar-chart" style="color: #0b00a2;"></i></a>
            <a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <a href="{{ url_for('persons') }}"><i class="fa fa-id-card"><span class="titles">Personas</span></i>368</a>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
                <a href="{{ url_for('audits') }}"><i class="fa fa-book"><span class="titles">Auditorías</span></i>50</a>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <a href="{{ url_for('reports') }}"><i class="fa fa-file-text-o"><span class="titles">Informes</span></i>12</a>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
                <a href="{{ url_for('alerts') }}"><i class="fa fa-exclamation-circle" style="color: red;"><span class="titles" style="color: red;">Alertas</span></i>15</a>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <a href="{{ url_for('readFiles') }}" style="color: green;"><i class="fa fa-file-o"><span class="titles">Analizar Archivo</span></i><i class="fa fa-upload" style="color: #0b00a2;"></i></a>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <a href="{{ url_for('chat') }}"><i class="fa fa-comment-o"><span class="titles">Preguntar Arpa</span></i><i class="fa fa-keyboard-o"></i></a>
            </div>
        </div>
    </div>
</body>
</html>