<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
</head>
<body>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="error-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="test">
        <a href="{{ url_for('dashboard') }}"><i class="fa fa-eye"></i>demo</a>
    </div>

    <div class="item">
        <a href="{{ url_for('login') }}"><i class="logo" id="logo"></i></a>
    </div>

    <div class="container" id="container">
        <div class="form">
            <form method="POST">
                <div class="input-group">
                    <input type="text" id="usuario" name="usuario" placeholder="Correo" required>
                </div>

                <div class="input-group">
                    <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
                </div>
                
                <div class="input-group">
                    <button type="submit">
                        <i class="fa fa-sign-in"></i> Ingresar
                    </button>
                </div>
            </form>

            <div class="input-group">
                <a href="{{ url_for('register') }}">
                    <button type="button">
                        <i class="fa fa-edit"></i> Registrarse
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
