<!-- templates/results.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Análisis</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='file.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
<body>
    <div class="topnav-container">
            
        <div>
            <a href="{{ url_for('dashboard') }}" class="logoIN">
            <div class="nomPag">Análisis</div>
            </a>
        </div>

        <div class="topnav">
            <a href="{{ url_for('readFiles') }}"><i class="fa fa-upload"></i></a>
            <a href="{{ url_for('dashboard') }}"><i class="fa fa-bar-chart"></i></a>
        </div>
    </div>

    
        <h1>PDF Summary</h1>
        
        <div>
            <h2>Generated Summary</h2>
            <p>{{ summary }}</p>
        </div>
        
        <a href="{{ url_for('uploadPdf') }}">Summarize Another PDF</a>

</body>
</html>