<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leer Archivo</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styleIN.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
          <div class="error-message">{{ message }}</div>
      {% endfor %}
  {% endif %}
{% endwith %}

  <div class="topnav-container">
      <div>
          <a href="{{ url_for('dashboard') }}" class="logoIN">
        <div class="nomPag">Análisis</div>
          </a>
        </div>
        <div class="topnav">
          <a href="{{ url_for('readFiles') }}"><i class="fa fa-upload"></i></a>
          <a href="{{ url_for('dashboard') }}"><i class="fa fa-bar-chart"></i></a>
        </div>
      </div>

        <div class="column">
          <div class="card">
            <a href="{{ url_for('uploadExcel') }}" style="color: green;"><i class="fa fa-file-excel-o"><span class="titles">Cargar Archivo Excel</span></i><i class="fa fa-search" style="color: #0b00a2;"></i></a>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="{{ url_for('uploadPDF') }}" style="color: rgb(255, 0, 98);"><i class="fa fa-file-pdf-o"><span class="titles">Cargar Archivo PDF</span></i><i class="fa fa-search" style="color: #0b00a2;"></i></a>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="{{ url_for('filesData') }}" style="color: #0b00a2;"><i class="fa fa-file-word-o"><span class="titles">Cargar Archivo Word</span></i><i class="fa fa-search"></i></a>
          </div>
        </div>
        
    </div>
</body>
</html>