<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reports</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styleIN.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
          <div class="error-message">{{ message }}</div>
      {% endfor %}
  {% endif %}
{% endwith %}

  <div class="topnav-container">
      <div>
        <a href="{{ url_for('dashboard') }}" class="logoIN">
          <div class="nomPag">Informes</div>
        </a>
      </div>
      <div class="topnav">
        <a href="{{ url_for('reports') }}"><i class="fa fa-file-text-o"></i></a>
        <a href="{{ url_for('dashboard') }}"><i class="fa fa-bar-chart"></i></a>
      </div>
    </div>

    <div class="row">
      <div class="row">
        <div class="column">
          <div class="card">
            <a href=""><i class="fa fa-file-text-o"><span class="titles">Informes de auditorías</span></i>5</a>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <a href=""><i class="fa fa-handshake-o"><span class="titles">Declaracion de Conflictos</span></i>2</a>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href=""><i class="fa fa-phone"><span class="titles">Línea de Transparecia</span></i>5</a>
          </div>
        </div>
    </div>
  
    <script>
      function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("entrada");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }       
        }
      }
      </script>
</body>
</html>