<!DOCTYPE html>
<html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PDF</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='file.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
  <body>
    <div class="topnav-container">
        <div>
            <a href="{{ url_for('dashboard') }}" class="logoIN">
          <div class="nomPag">Análisis</div>
            </a>
          </div>
          <div class="topnav">
            <a href="{{ url_for('readFiles') }}"><i class="fa fa-upload"></i></a>
            <a href="{{ url_for('dashboard') }}"><i class="fa fa-bar-chart"></i></a>
          </div>
        </div>
  
        {% if error %}
        <div class="error">
            {{ error }}
        </div>
        {% endif %}

        <div class="dashboard">
          <!--
          <div class="header">
              <h1>Cargar Archivo Excel</h1>
          </div>
          -->
          <form class="stats-grid" method="POST" enctype="multipart/form-data">
                  <div class="stat-card">
                      <div class="stat-value"><input type="file" name="file" accept=".pdf"></div>
                  </div>
                  <div class="stat-card">
                      <div class="stat-value"><input type="submit" value="Upload and Analyze"></div>
                  </div>
  
          </form>
  
    </div>
  </body>
</html>