@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Fonts family and size*/
body {
  background-color: #f5f9fa;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/*logo inside*/
.logoIN {
  cursor: pointer;
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  background-color: #3f51b5;
  position: relative;
  display: inline-flex;
}
.logoIN::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: #f5f9fa;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*topnav*/
.topnav i{
  color: #3f51b5;
  font-size: 25px;
}
.topnav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  top: 0;
}
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  margin-left: 2px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

@media (max-width: 480px) {
  .logo {
    margin-top: 100px;
  }
  .container {
    width: 95%;
  }
  .form {
    padding: 15px;
  }
}