<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
    {% if 'username' in session %}
        Logged in as {{ session['username'] }} | <a href="{{ url_for('logout') }}">Logout</a> |
         <a href="{{ url_for('upload_file') }}">Upload Excel</a> |
          <a href="{{ url_for('dashboard') }}">Dashboard</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a> | <a href="{{ url_for('register') }}">Register</a> | <a href="{{ url_for('recover') }}">Recover Password</a> 
    {% endif %}
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>