<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat</title>
        <link rel="shortcut icon" href="../static/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/chat.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
<body>
    <div class="topnav-container">
        <div>
          <a href="./dashboard.html" class="logoIN">
            <div class="nomPag">Arpa</div>
          </a>
        </div>
        <div class="topnav">
          <a href="./chat.html"><i class="fa fa-comment-o"></i></a>
          <a href="./dashboard.html"><i class="fa fa-bar-chart"></i></a>
        </div>
    </div>
    <div class="input-container">
        <div class="input-box">
            <textarea placeholder="Chatea con Arpa" rows="1" autofocus></textarea>
            <button><i class="fa fa-send"></i></button>
        </div>
    </div>
</body>
</html>