
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A R P A</title>
    <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styleIN.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="topnav-container">
      <div>
        <a href="./dashboard.html" class="logoIN">
          <div class="nomPag">Análisis</div>
        </a>
      </div>
      <div class="topnav">
        <a href="./dashboard.html"><i class="fa fa-mail-forward"></i></a>
        <a href="./dashboard.html"><i class="fa fa-bar-chart"></i></a>
        <a href="../index.html"><i class="fa fa-sign-out"></i></a>
      </div>
    </div>

        <div class="column">
          <div class="card">
            <a href="" style="color: green;"><i class="fa fa-file-excel-o"><span class="titles">Analizar Excel</span></i><i class="material-icons" style="color: #0b00a2;">file_upload</i></a>
          </div>
        </div>
        
    </div>
</body>
</html>