
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A R P A</title>
    <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styleIN.css">
</head>
<body>
  <div class="topnav-container">
      <div class="logoIN"><a href="./dashboard.html"></a></div>
      <div class="topnav">
        <a href=""><i class="fa fa-bar-chart"></i></a>
        <a href=""><i class="fa fa-user-circle-o"></i></a>
        <a href=""><i class="fa fa-file-text-o"></i></a>
        <a href=""><i class="fa fa-gear"></i></a>
        <a href="../index.html"><i class="fa fa-sign-out"></i></a>
      </div>
    </div>
    
    <div class="row">
        <div class="column">
          <div class="card">
            <h5>Auditorias Activas</h5>
            <a href=""><i class="fa fa-calendar-o" style="color: orange;"></i>34</a>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <h5>Auditorias Completas</h5>
            <a href=""><i class="fa fa-calendar-check-o" style="color: green;"></i>50</a>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <h5>Reportes</h5>
            <a href=""><i class="fa fa-pencil-square-o"></i>12</a>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <h5 style="color: red;">Alertas</h5>
            <a href=""><i class="fa fa-exclamation-circle" style="color: red;"></i>5</a>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <a href="" style="color: green;"><i class="fa fa-file-excel-o"></i>Leer Excel</a>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <a href="" style="color: rgb(101, 0, 39);"><i class="fa fa-file-pdf-o"></i>Leer PDF</a>
          </div>
        </div>
    </div>
</body>
</html>