<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Análisis</title>
        <link rel="shortcut icon" href="../static/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/file.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
      <div class="topnav-container">
          <div>
              <a href="./dash.html" class="logoIN">
            <div class="nomPag">Análisis</div>
              </a>
            </div>
            <div class="topnav">
              <a href="/templates/dash.html"><i class="fa fa-upload"></i></a>
              <a href="/templates/dash.html"><i class="fa fa-bar-chart"></i></a>
            </div>
          </div>
    <div class="dashboard">
        <div class="header">
            <h1>Nombre de Archivo</h1>
        </div>

        <div class="stats-grid">
            <div class="stat-card">
                <div class="stat-title">Filas</div>
                <div class="stat-value"># Filas</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Valores</div>
                <div class="stat-value">$</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Valores promedio</div>
                <div class="stat-value">$</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Nulos</div>
                <div class="stat-value"># Nulos</div>
            </div>
        </div>

        

        <table class="data-table">
            <thead>
                <tr>
                    <th>Mes</th>
                    <th>Ventas</th>
                    <th>Ordenes</th>
                    <th>Valores Promedio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Enero</td>
                    <td>$</td>
                    <td>#</td>
                    <td>$</td>
                </tr>
                <tr>
                    <td>Febrero</td>
                    <td>$</td>
                    <td>#</td>
                    <td>$</td>
                </tr>
                <tr>
                    <td>Marzo</td>
                    <td>$</td>
                    <td>#</td>
                    <td>$</td>
                </tr>
                <tr>
                    <td>Abril</td>
                    <td>$</td>
                    <td>#</td>
                    <td>$</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>