<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A R P A</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Home{% endblock %}
    {% block content %}
    <!--
    <div class="test">
        <a href="./home.html"><i class="fa fa-eye"></i>test</a>
    </div>
    -->
    <div class="item">
        <a href="./login.html"><i class="logo" id="logo"></i></a>
    </div>

    <div class="container" id="container">
        
        <div class="form" method="POST" action="">
            
          <div class="input-group" method="post">
            <button type="submit">
                <i class="fa fa-edit"></i>
                <a href="{{ url_for('register') }}">
                    Register
                </a>
            </button>
          </div>
          <div class="input-group" method="post">
            <button type="submit">
                <i class="fa fa-sign-in"></i>
                <a href="{{ url_for('login') }}">
                    Login
                </a>
            </button>
        </div>
    </div>

    {% endblock %}
    
</body>
</html>