<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A R P A</title>
    <link rel="shortcut icon" href="../static/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/style.css') }}">
</head>
<body>
    <h1>Upload Excel File for Audit</h1>
      <form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">  </form>

    <div class="item">
        <a href="{{ url_for('index') }}"><i class="fa fa-eye"></i> Back to Main Page</a>
    </div>
</body>
</html>